/*General*/
*{
    justify-content:center;
    text-align:center;
}

.container{
    display:flex;
}

/*Element Spacing*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*Banner*/
#banner{
    justify-content:center;
    align-items:center;
}

#titletext{
    font-size:150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

#banner{
    background-image:url("images/additional/boracay2.jpg");
}
#banner{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

#banner{
    position:relative;
}

#titletext{
    position:absolute;
}

/*Nav Bar*/
#links a{
    flex-direction:row;
    background-size:cover;
}
#links a{
    color:white;
    text-decoration:none;
    font-size:30px;
    font-family:sans-serif;
    padding:1%;
}
#links a:hover{
    filter:grayscale(100%);
    transition-duration: 0.5s;
    transition-timing-function:ease-in-out;
}

/*Nav Bar Colors*/
#homepage{
    background-color:rgba(37, 150, 190);
}

#culture{
    background-color:rgba(115, 191, 67);
}
#geography{
    background-color:rgba(173, 201, 53);
}

#history{
    background-color:rgba(246,176,41);
}

#landmarks{
    background-color:rgba(223,55,54);
}

/*Images*/
.images{
    flex-direction:column;
    display:flex;
    list-style:none;
    padding:0;
    margin:0;
}

.images img{
    border:2px solid black;
    border-radius:10px;
}

.images2 img{
    border:2px solid black;
    border-radius:10px;
}

.images2{
    flex-direction:column;
    display:flex;
    list-style:none;
    padding:0;
    margin:0;
}
/*Body*/
#main p{
    flex-direction:column;
    font-size:15pt;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}

#main img{
    height:200px;
    width:300px;
    position:relative;
}

#main img:hover{
    filter:grayscale(50%);
    transition-duration: 0.5s;
    transition-timing-function:ease-in-out;

}

#main p{
    line-height:150%;
}
/*Sample Content*/

/*Footer*/