/*General*/
*{
    justify-content:center;
    text-align:center;
}

.container{
    display:flex;
}

/*Element Spacing*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*Banner*/
#banner{
    justify-content:center;
    align-items:center;
}

#titletext{
    font-size:150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;

}

#banner{
    background-image:url("images/additional/boracay2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

#banner{
    position:relative;
}

#titletext{
    position:absolute;
}

/*Nav Bar*/
#links a{
    flex-direction:row;
    background-color:green;
    background-size:cover;
}
#links a{
    color:white;
    text-decoration:none;
    font-size:30px;
    font-family:sans-serif;
    padding:1%;
}
#links a:hover{
    filter:grayscale(100%);
    transition-duration: 0.5s;
    transition-timing-function:ease-in-out;
}
/*Body*/
#main{
    flex-direction:column;
    font-size:15pt;
}